h2 {
    color: red;
}

.navy{
    color:navy;
}

.text-elps-3 {
    -webkit-line-clamp: 3 !important;
}

.text-elps {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}